.modal-body{
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    width: 50%;
    height: auto;
    display: block !important;
}

.close-button{
    position: absolute;
    top: 5px;
    left: 5px;
}

.product-additional-image {
    width: auto;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.css-17h8wlr {
    padding: 40px !important;
}

/* Important part */
.modal-dialog{
    overflow-y: initial !important
}

.modal-content{
    height: 70vh;
    overflow-y: auto;
}