
.ProductListBody {
    .searchBox{
        margin-top: 10px !important;
        margin-bottom: 15px !important;
        width: 90%;
    }

    .product-list-container{
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        .product-list-card {
            display: block;
            .product-sale_price {
                margin-left: auto;
                margin-right: auto;
            }
            .product-price {
                margin-left: auto;
                margin-right: auto;
            }
        }

        .product-list-card:hover{
            -webkit-transform: scale(1.25, 1.25);
            transform: scale(1.15, 1.15);
        }

        .product-image {
            width: 60%;
        }
        .broken {
            width: 60%;
            // height: 30px;
            margin-bottom: 195px;
        }
    }

    .loaad-more-button {
        margin-top: 15px;
        margin-bottom: 5px;
    }
}
